<li id="album-<%= album.id %>">
  <%= link_to album.title, album %><br />
  <% if album.photos.any? %>
    <img src="<%= album.photos.first[:thumbnailUrl] %>">
  <% else %>
    <div>No photos! D :</div>
  <% end %>
</li>
